*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 4%, rgba(189,35,95,1) 30%, rgba(2,0,36,1) 74%, rgba(0,212,255,1) 89%);height:95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    color:white;
    width: 50%;
    text-align: center;

}

.container button{
    display: inline-block;
    padding: 10px;
    text-align: center;

}
.container button:hover{
    cursor: pointer;

}